* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.carousel {
  width: 780px;
  margin: 6rem auto;
}

section {
  display: flex;
  height: 260px;
  background-color: #087f5b;
  margin-bottom: 2rem;
  border-radius: 12px;
}

.man-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  position: relative;
  bottom: 20px;
  border-radius: 16px;
  margin-right: 36px;
}

section button {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  align-self: center;
}

.previous-button {
  position: relative;
  left: -21px;
}

.next-button {
  position: relative;
  right: -21px;
}

.quote {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.citation {
  line-height: 1.5;
  font-size: 18px;
  color: #e6fcf5;
}

.person-info {
  color: #c3fae8;
  font-size: 14px;
}

.position-buttons {
  text-align: center;
}
