* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.carousel {
  max-width: 860px;
  margin: 5rem auto;
}

section {
  display: grid;
  grid-template-columns: 1fr 300px 8fr 1fr;
  gap: 42px;
  background-color: #099268;
  margin-bottom: 1rem;
}

.man-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.position-buttons {
  text-align: center;
}
