* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

.carousel {
  width: 80%;
  height: 260px;
  margin: 5rem auto;
}

section {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.man-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
}
